/*--------------AuthStart------------- */


.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-title {
  font-size: 48px;
  font-family: 'Jersey 10', sans-serif;
  margin-bottom: 48px;
}

.auth-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.auth-btn {
  padding: 12px 24px;
  font-size: 14px;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.auth-link {
  font-size: 14px;
  color: white;
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
